body {
    overflow-y: scroll;
    padding-bottom: 120px;
    padding-top: 30px;
}

.modal .modal-body {
    max-height: 750px;
    overflow-y: auto;
}

.nav, .pagination li {
    cursor: pointer
}

.drop {
    margin: 20px;
    min-height: 100px;
    padding: 25px;
    border: 1px dashed #fff;
}

.extraSmallCard {
    width: 320px;
    height: 200px;
    margin: 10px;
}

.smallCard {
    width: 320px;
    height: 250px;
    margin: 10px;
}

.mediumCard {
    width: 320px;
    height: 360px;
    margin: 10px;
}

.largeCard {
    width: 320px;
    height: 520px;
    margin: 10px;
}

.heroCard {
    margin: 15px;
}

.navCard {
    min-height: 35px;
    margin: 5px;
    padding: 5px;
}

.navCard:after {
    content: " ";
    width: 600px;
    height: 150px;
    position: relative;
}

.leftPanel {
    position: fixed;
    height: 100%;
    width: 100px;
    left: 0px;
    top: 0px;
    border-right: 1px solid black;
    margin: 0px;
    padding: 0px;
    padding-top: 100px;
}

.dangerDelete {
    border: 1px solid red;
}

.suggestAdd {
    border: 1px solid green;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: portrait) {
    .container {
        padding: 0px;
    }
    .extraSmallCard, .smallCard, .mediumCard, .largeCard, .heroCard {
        margin: 0px;
        margin-bottom: 10px;
    }
}

.pinColumns {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    column-count: 2;
    column-gap: 3px;
    column-fill: auto;
}

.pin {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
}


@media all and (max-width: 1280px) {
    .pinColumns {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media all and (max-width: 960px) {
    .pinColumns {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}