<html>
<head>
  <title>Schema Browser</title>
</head>
<body ng-app="client">
<h1>Schema Browser</h1>

<div id="schema">
  <div ng-controller="ClientArea">
    <h2 ng-bind="client.schema.title"></h2>
    <h3 ng-bind="client.schema.description"></h3>
    <ul>
      <li ng-repeat="rel in client.schema.links">
        <form ng-show="{{rel.method == 'POST'}}">
          <h4 ng-bind="rel.title"></h4>
          <div ng-repeat="property in rel.properties">
            <input type="text">
            <label ng-bind="property.title"></label>
          </div>
        </form>
        <button ng-click="link()" ng-bind="rel.rel"></button>
      </li>
    </ul>
  </div>
</div>
<script src="/libs/underscore-1.4.4.js"></script>
<script src="/libs/angular-1.1.5.js"></script>
<script src="/libs/angular/angular-resource.js"></script>
<script src="/schema.js"></script>
<script src="/client.js"></script>
</body>
</html>